*, :after, :before {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #3b3f50;
    color: #fff;
    font-family: Open Sans,Arial,sans-serif;
}
img {
    width: 100%;
    border-radius: 8px;
}
.bungkus {
    background: #242734;
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;
}
h1 {
    font-size: 24px;
    margin-top: 0;
    text-align: center;
    color: #f9d342;
}
h2 {
    font-size: 18px;
}
.deskripsi {
    margin-top: 40px;
    font-size: 14px;
}
.pembayaran {
    margin-top: 40px;
}
.harga {
    border-bottom: 2px dashed #3b3f50;
}
.harga-warna {
    color: #f9d342;
}
.harga-kecil {
    font-size: 12px;
}
.harga a {
    background: #0084ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 20px;
}
.kecil {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #f9d342;
}
footer {
    text-align: center;
    margin-top: 40px;
    border-top: 2px solid #3b3f50;
}
footer p {
    margin-bottom: 0;
    font-size: 12px;
}
